{% extends "webadmin/layout.html" %} {% block body%}


<div class="container">


    <div class="col-12">

        <div class="container d-flex align-items-center" style="flex-direction: column;">


            <h1>Oversigt</h1>

            <div>
                <h3>Brugere i alt {{usersTotal}}</h3>
                <h3>Lokaler i alt {{roomsTotal}}</h3>
            </div>

            <div>          
                <a href="{% url 'users' %}" class="btn btn-primary">Bruger administration</a>             
                <a href="{% url 'rooms' %}" class="btn btn-primary">Lokalition administration</a>
            </div>
        </div>
    </div>


</div>






{% endblock  %}