{% extends "webadmin/layout.html" %} {% block body%} {% load static %}

<link rel="stylesheet" href="{% static 'multiselect.css' %}" />
<link rel="stylesheet" href="{% static 'style.css' %}" />
<script src="{% static 'multiselect.js' %}"></script>

<div class="container">

<div class="row">
    <div class="col-12">
    
    <div class="d-flex" style="align-items: center; flex-direction: column;">
      <h1>{{user.id}} {{user.name}}</h1>
      <h2>{{user.email}}</h2>
      <h2>Created at {{user.CreatedAt}}</h2>      
          
    </div>      
      
      <div class="d-flex mt-3" style="align-items: center; flex-direction: column;">
        <h3>Alle hold</h3> 
        {% for item in teams %}
        <div>
          {{item.name}}  
          {{item.id}}
        </div>
        {% endfor %}           
      </div>
  </div>
</div>

<div class="row">
  <div class="col-12">

<form method="post" style="justify-content: space-evenly; align-items: center;" class="d-flex flex-row mt-5 mb-3">
  {% csrf_token %}
  <label for="exampleFormControlInput1" class="form-label">Tidspunkt fra</label>
  <input style="width: 300px;" type="date" class="form-control" id="exampleFormControlInput1" name="start">    
    <label for="exampleFormControlInput1" class="form-label">Til</label>
    <input style="width: 300px;" type="date" class="form-control" id="exampleFormControlInput1" name="end">
    <div>
      <input type="submit" class="btn btn-primary" value="Søg">
    </div>
</form>     

    <div class="table shadow">
      <h1>Historik</h1>
      <ul>

        {% for item in history %}      

        <li>
          Person: {{item.user}}.
          Dør: {{item.embedded}}.
          Tidspunkt: {{item.timestamp}}
        </li>

        {% endfor %}
      </ul>
    </div>
  </div>
</div>

</div>


{% endblock %}
